<div id='footer' class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">What is a Lens?</a>
          <a href="#" class="item">Getting Started</a>
          <a href="#" class="item">Documentation</a>
          <a href="#" class="item">Contact</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Community</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Submit an Issue</a>
          <a href="#" class="item">Case Studies</a>
          <a href="#" class="item">CLA</a>
          <a href="#" class="item">Join our Chat</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Powered By LensFormation</h4>
        <p>Copyright 2016 Lensformation. <a href="http://www.lensformation.com">http://www.lensformation.com</a></p>
      </div>
    </div>
  </div>
</div>