<div class="ui pad_top_0">
  <div class="ui main menu">
    <div class="header item"><i class="fa fa-camera-retro fa_right_margin"></i> Cameras</div>

      <a class="item">Details</a>
      <a class="item">Articles</a>
      <a class="item">Gallery</a>
      <a class="item">Questions</a>
      <a class="item">Discussions</a>

  </div>
</div>

